<!-- 分页页面 , 参数:title keywords -->
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header(title,keywords)">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" th:content="${keywords ?: commons.site_option('site_keywords')}"/>
    <meta name="description" th:content="${description ?:commons.site_option('site_description')}"/>
<!--    <meta HTTP-EQUIV="Refresh" CONTENT="1" />-->
    <link rel="shortcut icon" th:href="@{/user/img/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/user/img/apple-touch-icon.png}"/>
    <title><th:block th:text="${title ?: '首页'} +' - '+${commons.site_option('site_title','Hs Blog')} "></th:block></title>
    <!--<title><th:block th:text="${title}"></th:block></title>-->
    <link th:href="@{//cdn.bootcss.com/highlight.js/9.9.0/styles/xcode.min.css}" rel="stylesheet"/>
    <link th:href="@{/user/css/style.min.css}" rel="stylesheet"/>
    <link th:href="@{/user/css/love.css}" rel="stylesheet"/>


    <script th:src="@{//cdn.bootcss.com/jquery/2.2.3/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!--    <style>-->
<!--        :root {-->
<!--            &#45;&#45;accent: #3493d1;-->
<!--            &#45;&#45;main: #f3f3f3;-->
<!--            &#45;&#45;light: #ececec;-->
<!--            &#45;&#45;lighter: #666666;-->
<!--            &#45;&#45;border: #e6e6e6;-->
<!--            &#45;&#45;bg: #333333;-->
<!--        }-->
<!--        html,-->
<!--        body {-->
<!--            background-color: var(&#45;&#45;bg);-->
<!--        }-->
<!--        p {-->
<!--            color: var(&#45;&#45;main);-->
<!--        }-->
<!--    </style>-->
</head>

<body  gtools_scp_screen_capture_injected="true" th:class="${is_post}?'':'bg-grey'">



<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a th:href="${commons.site_url('/index')}" class="navbar-logo">
            <img th:src="@{/user/img/logo.jpg}" alt="首页"/>
        </a>
        <div class="navbar-menu">
            <a th:href="${commons.site_url('/categories')}">分类</a>
            <a th:href="${commons.site_url('/archives')}">归档</a>
            <a th:href="${commons.site_url('/friends')}">好友</a>
            <a th:href="${commons.site_url('/about')}">关于</a>
            <a th:href="${commons.site_url('/sitestatistics')}">站点统计</a>
            <a th:href="${commons.site_url('/lovestory')}">我😘她</a>
        </div>

        <div class="navbar-search" onclick="">
            <span class="icon-search"></span>
            <form role="search" action="/search/huangsheng" onsubmit="return false;">
                <span class="search-box">
                    <!--这个你只需要给搜索那个input一个id，然后在js中根据id对应的元素设置一个回车事件，回车事件中可以通过post或者ajax提交-->
                    <input type="text" id="search-inp" class="input" placeholder="搜索..." maxlength="30"
                           autocomplete="off"/>
                </span>
            </form>
        </div>

        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li>   <a th:href="${commons.site_url('/categories')}">分类</a></li>
                <li><a th:href="${commons.site_url('/archives')}">归档</a></li>
                <li><a th:href="${commons.site_url('/friends')}">好友</a></li>
                <li><a th:href="${commons.site_url('/about')}">关于</a></li>
                <li><a th:href="${commons.site_url('/sitestatistics')}">站点统计</a></li>
                <li><a th:href="${commons.site_url('/lovestory')}">我😘她️️</a></li>
            </ul>
        </div>
    </div>
</header>

<!-- latex math config-->
<!--<script type="text/javascript"-->
<!--        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">-->
<!--</script>-->
<!--<script th:src="@{//cdn.mathjax.org/mathjax/latest/MathJax.js}" ></script>-->
<!--<script type="text/x-mathjax-config">-->
<!--    /*<![CDATA[*/-->
<!--  MathJax.Hub.Config({-->
<!--    extensions: ["tex2jax.js"],-->
<!--    jax: ["input/TeX", "output/HTML-CSS"],-->
<!--    tex2jax: {-->
<!--      inlineMath: [ ['$','$'], ["\\(","\\)"] ],-->
<!--      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],-->
<!--      processEscapes: true-->
<!--    },-->
<!--    "HTML-CSS": { availableFonts: ["TeX"] }-->
<!--  });-->
<!--       /*]]>*/-->
<!--</script>-->
<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    let theme = "dark";-->
<!--    /**-->
<!--     * 添加暗色主题-->
<!--     */-->
<!--    console.log("切换暗黑模式")-->
<!--    function addDarkTheme() {-->
<!--        const link = document.createElement("link");-->
<!--        link.id = "theme-css-dark"; // 加上id方便后面好查找到进行删除-->
<!--        link.rel = "stylesheet";-->
<!--        link.type = "text/css";-->
<!--        link.href = "./styles.css";-->
<!--        document.querySelector("head").appendChild(link);-->
<!--    }-->
<!--    const link = document.createElement("link");-->
<!--    link.id = "theme-css-dark"; // 加上id方便后面好查找到进行删除-->
<!--    link.rel = "stylesheet";-->
<!--    link.type = "text/css";-->
<!--    link.href = "/user/css/love.css";-->
<!--    document.querySelector("head").appendChild(link);-->

<!--    /**-->
<!--     * 移除暗色主题-->
<!--     */-->
<!--    function removeDarkTheme() {-->
<!--        document.querySelector("#theme-css-dark").remove();-->
<!--    }-->
<!--    /**-->
<!--     * 切换主题-->
<!--     */-->
<!--    const changeTheme = () => {-->
<!--        if (theme === "light") {-->
<!--            addDarkTheme();-->
<!--            theme = "dark";-->
<!--        } else {-->
<!--            removeDarkTheme();-->
<!--            theme = "light";-->
<!--        }-->
<!--    };-->
<!--           /*]]>*/-->
<!--</script>-->


</body>


</html>